@import "_variables.scss";

#search_container {
  position: fixed;
  right: 0;
  top: 33px;
  opacity: 100;
  z-index: 9999;
  width: 15%;
}
.search_query {
  display: flex;
  overflow: hidden;
  width: 10vw;
}

input {
  border: 0;
  padding: 0;
  width: 10vw;
  height: 20px;
}

.dropdown {
  height: 20px;
  width: 10vw;
  background-color: white;
}

@media (min-width: 1281px) {
  #search_container {
    float: right;
  }
}

/* ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px */

@media (min-width: 481px) and (max-width: 767px) {
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px */

@media (max-width: 480px) {
}
